<div class="modal-background">
  <div class="modal-content modal-content-container">
    <mat-form-field>
      <mat-label>Descripción menú</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>

    <label class="file example-full-width shadow mb-3">
      <input type="file" accept="image/png" aria-label="File browser example" />
      <span class="file-custom text-left"
        >{{ nameFile }} <i class="fa-solid fa-file-image"></i
      ></span>
    </label>

    <button mat-button color="warn" (click)="onNoClick()">Volver</button>
    <button mat-button color="primary">Agregar nuevo menú</button>
  </div>
</div>
