<!-- <ol>
    <li>
        <mat-form-field appearance="fill">
            <mat-label>What's your name?</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
    </li>
    <li> -->
<!-- <button mat-raised-button (click)="openDialog()">Abrir Modal</button> -->
<!--    </li>
    <li *ngIf="animal">
        You chose: <i>{{animal}}</i>
    </li>
</ol> -->

<button aria-label="Nuevo" class="btn btn-usco-dark custom-sticky-header" (click)="openDialog()">
    <i class="fa-solid fa-plus"></i> Nuevo
</button>