<div class="content">
  <div class="card-login">
    <div class="card-header bg-usco-vt header-usco-card">
      <div class="row">
        <div class="col">
          <img
            title="USCO"
            mat-card-image
            src="assets/universidad-surcolombiana-multicampos-white.png"
            class="img-fluid"
          />
        </div>
      </div>
      <hr class="punteada" />
      <div class="row">
        <div class="col">
          <small class="font-weight-bold text-white">
            ADMINISTRADOR DE RESTAURANTE
          </small>
        </div>
      </div>
    </div>
    <div class="card-body text-center font-usco-gr">
      <div class="container">
        <form>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <span matPrefix class="p-3"
                  ><i class="fa-solid fa-user"></i
                ></span>
                <mat-label>Usuario</mat-label>
                <input
                  matInput
                  [(ngModel)]="usuario.username"
                  placeholder="a1075******"
                  name="username"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <span matPrefix class="p-3"
                  ><i class="fa-solid fa-lock"></i
                ></span>
                <mat-label>Primera Contraseña</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  [(ngModel)]="usuario.password"
                  type="password"
                  name="password"
                  placeholder="Digite la primera clave"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <span matPrefix class="p-3"
                  ><i class="fa-solid fa-lock"></i
                ></span>
                <mat-label>Segunda Contraseña</mat-label>
                <input
                  matInput
                  [type]="ver ? 'password' : 'text'"
                  [(ngModel)]="usuario.clave2"
                  type="password"
                  name="clave2"
                  placeholder="Digite la segunda clave"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <button
                (click)="login()"
                type="submit"
                class="btn btn-usco-vt"
                tabindex="3"
              >
                Ingresar
                <span
                  *ngIf="cargando"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <a href="https://www.usco.edu.co/cambio_clave/" target="_blank"
                ><small class="font-usco-vt font-weight-bold"
                  >¿Olvidó su primera contraseña?</small
                ></a
              >
            </div>
          </div>
          <div>
            <small
              ><b class="version"
                >© {{ today | date : "yyyy" }} CITCD - Versión 2 Construcción
                1.2</b
              ></small
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
