<!-- BARRA DE NAVEGACION LATERAL -->

<mat-sidenav-container class="sidenav-container" id="page-container">
  <mat-sidenav
    #drawer
    style="width: 281px"
    *ngIf="navbarHiddenService.visibleSideBar"
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    #target
  >
    <mat-toolbar>
      <span class="logo-lg"
        ><b
          ><img
            class="img-fluid"
            src="assets/universidad-surcolombiana-multicampos-white.png" /></b
      ></span>
    </mat-toolbar>
    <mat-nav-list>
      <a class="list" mat-list-item [routerLink]="['/inicio']">
        <h6 class="pl-2 item-principal"><i class="fas fa-home"></i> Inicio</h6>
      </a>
    </mat-nav-list>

    <mat-accordion>
      <mat-expansion-panel
        class="sidenav"
        style="width: 280px"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header class="disable_ripple specific-class">
          <mat-panel-title>
            <h6 class="text-white mt-2">
              <i class="fa-solid fa-file-lines"></i> Parametros
            </h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a
            class="pl-4 sidenav-accordion"
            mat-list-item
            style="width: 300px"
            [routerLink]="['/horarioServicio']"
            routerLinkActive="router-link-active"
          >
            <h6 class="text-white">
              <i class="fa-solid fa-clock"></i> Horario Servicio
            </h6>
          </a>
          <a
            class="pl-4 sidenav-accordion"
            mat-list-item
            style="width: 300px"
            [routerLink]="['/calendario']"
            routerLinkActive="router-link-active"
          >
            <h6 class="text-white">
              <i class="fa-regular fa-calendar-days"></i> Calendario
            </h6>
          </a>
          <a
            class="pl-4 sidenav-accordion"
            mat-list-item
            style="width: 300px"
            [routerLink]="['/contratos']"
            routerLinkActive="router-link-active"
          >
            <h6 class="text-white">
              <i class="fa-solid fa-file-contract"></i> Contratos
            </h6>
          </a>
          <a
            class="pl-4 sidenav-accordion"
            mat-list-item
            style="width: 300px"
            [routerLink]="['/grupoGabu']"
            routerLinkActive="router-link-active"
          >
            <h6 class="text-white">
              <i class="fa-solid fa-people-group"></i> Grupo Gabu
            </h6>
          </a>
        </mat-nav-list>

        <mat-expansion-panel
          class="sidenav"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          style="width: auto"
        >
          <mat-expansion-panel-header class="disable_ripple specific-class">
            <mat-panel-title>
              <h6 class="text-white mt-2">
                <i class="fa-solid fa-utensils"></i> Menú
              </h6>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <!-- Opciones del menú desplegable anidado -->
            <a
              class="pl-4 sidenav-accordion"
              mat-list-item
              style="width: 300px"
              [routerLink]="['/crearMenu']"
              routerLinkActive="router-link-active"
            >
              <h6 class="text-white">
                <i class="fa-solid fa-egg"></i>
                Crear Menú
              </h6>
            </a>
            <a
              class="pl-4 sidenav-accordion"
              mat-list-item
              style="width: 300px"
              [routerLink]="['/asignarMenu']"
              routerLinkActive="router-link-active"
            >
              <h6 class="text-white">
                <i class="fa-solid fa-spoon"></i>
                Asignar Menú
              </h6>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-expansion-panel>

      <mat-nav-list>
        <a class="list" mat-list-item [routerLink]="['/cargueInformacion']">
          <h6 class="pl-2 item-principal">
            <i class="fa-solid fa-truck-ramp-box"></i> Cargué de información
          </h6>
        </a>
        <a class="list" mat-list-item [routerLink]="['/estadisticas']">
          <h6 class="pl-2 item-principal">
            <i class="fa-solid fa-chart-simple"></i> Estadísticas
          </h6>
        </a>
      </mat-nav-list>
    </mat-accordion>
    <div class="text-center footer-tabs mb-2">
      <div class="accordion cursor-select" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <small
                class="text-white font-usco-default font-weight-bold text-center"
                style="font-size: 14px"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
                >© {{ anio | date : "yyyy" }} CITCD - Versión 2</small
              >
            </h2>
          </div>
          <div
            id="collapseOne"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <small class="text-white"
                >HORA INICIO SESIÓN: <br />
                {{ horaInicioSesion | date : "dd-MM-yyyy, h:mm a" }}
              </small>
              <hr class="dashed" />
              <small class="text-white">
                HORA FINALIZACIÓN: <br />
                {{ horaFinSesion | date : "dd-MM-yyyy, h:mm a" }}
              </small>
            </div>
          </div>
        </div>
      </div>
      <!-- <hr class="dashed" />
      <small class="text-white"
        >HORA INICIO SESIÓN: <br />
        {{ horaInicioSesion | date : "dd-MM-yyyy, h:mm a" }}
      </small>
      <hr class="dashed" />
      <small class="text-white">
        HORA FINALIZACIÓN: <br />
        {{ horaFinSesion | date : "dd-MM-yyyy, h:mm a" }}
      </small>
      <br /><br />
      <small class="text-white font-usco-default font-weight-bold text-center"
        >© {{ today | date : "yyyy" }} CITCD - Versión 2</small
      > -->
    </div>
  </mat-sidenav>

  <!-- BARRA DE NAVEGACION SUPERIOR -->

  <mat-sidenav-content (validarToken)="receiveMessage($event)">
    <mat-toolbar *ngIf="rol != ''" class="toolbar">
      <button
        type="button"
        class="btn btn-usco-vt m-1 text-white"
        aria-label="Toggle sidenav"
        (click)="toggle()"
        *ngIf="isHandset$"
      >
        <i class="fas fa-bars"></i>
      </button>
      <h6
        *ngIf="navbarHiddenService.visibleSideBar == true"
        class="font-weight-bold"
        style="margin-right: 1rem"
      >
        SIBUSCO
      </h6>

      <a
        class="nav-link dropdown-toggle text-white"
        role="button"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-solid fa-building-columns"></i>
      </a>

      <h6
        *ngIf="navbarHiddenService.visibleSideBar == true"
        class="font-weight-bold"
        style="margin-right: 1rem"
      >
        {{
          sedeSeleccionada ? sedeSeleccionada.nombre : "Sede no seleccionada"
        }}
      </h6>

      <div class="dropdown-menu">
        <ng-container *ngFor="let sede of sedes">
          <a class="dropdown-item" (click)="getSedeSelected(sede)">{{
            sede.nombre
          }}</a>
        </ng-container>
      </div>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            id="navbarDropdownMenu"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="{{ foto.url }}"
              class="rounded-circle m-2"
              alt="avatar image"
              style="width: 40px; height: 40px"
            />
            {{ nombre | titlecase }} {{ apellido | titlecase }}</a
          >
          <div
            class="dropdown-menu dropdown-menu-right dropdown-info"
            aria-labelledby="navbarDropdownMenu"
            id="gradiante"
          >
            <div class="text-center">
              <a class="dropdown-info"
                ><img
                  src="{{ foto.url }}"
                  class="rounded-circle z-depth-0 border-usco-white"
                  alt="avatar image"
                  height="100"
              /></a>
              <a class="dropdown-item font-usco-default"
                ><b> {{ nombre | titlecase }} {{ apellido | titlecase }}</b></a
              >
              <a class="dropdown-item font-usco-default">{{
                uaa | titlecase
              }}</a>

              <div class="dropdown-divider"></div>

              <a class="dropdown"
                ><button
                  (click)="logout()"
                  class="btn btn-usco-vt"
                  type="button"
                >
                  Cerrar Sesión
                </button></a
              >
            </div>
          </div>
        </li>
      </ul>
    </mat-toolbar>
    <ng-content (validarToken)="receiveMessage($event)"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
